* {
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    gap: 120px;
    opacity: 0px;
    background-color: rgb(225,255,255,1);
    display: flex;
    flex-direction: row;
}
.first {
    width: 460px;
    height: 275px;
    margin-block-start: 205px;
    margin-inline-start: 140px;
    gap: 0px;
    opacity: 0px;
}
.first img {
    width: 77.33px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0px 4px 10px 0px #0000001A;
    background-color: rgb(225,255,255,1);
}
.first h1{
    width: 268px;
    height: 50px;
    margin-block-start: 50px;
    gap: 0px;
    opacity: 0px;
    font-family: Brown;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
    color:#000B0A;
}
.first p{
    width: 460px;
    height: 75px;
    margin-block-start: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Brown;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #737373;
}
.second {
    width: 580px;
    height: 620px;
    margin-block-start: 20px;
    opacity: 0px; 
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    background-color: #ffffff;
    border-radius: 6px;
    position: relative;
}

.FST {
    width: 500px;
    height: 72px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-block-start: 25px;
    margin-inline-start: 40px;
}
.fn {
    width: 238px;
    height: 72px;
}
#text {
    width: 238px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Sofia Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

#hold {
    width: 238px;
    height: 35px;
    margin-block-start: 8px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #f0f0f0;
}

#h1 {
    width: 500px;
    height: 35px;
    margin-block-start: 8px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #f0f0f0;
}
.SCD {
    width: 500px;
    height: 72px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-block-start: 25px;
    margin-inline-start: 40px;
}

.THD {
    width: 500px;
    height: 72px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-block-start: 25px;
    margin-inline-start: 40px;
}

.FTH {
    width: 500px;
    height: 72px;
    margin-block-start: 25px;
    margin-inline-start: 40px;
}

.FIT {
    width: 500px;
    height: 72px;
    margin-block-start: 25px;
    margin-inline-start: 40px;
}

button{
    width: 500px;
    height: 36px;
    margin-block-start: 25px;
    margin-inline-start: 40px;
    gap: 0px;
    opacity: 0px;
    background-color:#2EC4B6;
    box-shadow: 0px 10px 40px 0px #0000001A;
    border: 1px solid #2EC4B6;
    font-family: Sofia Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
}

h5 {
    width: 463px;
    height: 25px;
    margin-block-start: 30px;
    margin-inline-start: 59px;
    gap: 0px;
    opacity: 0px;
    font-family: Sofia Pro;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
span {
    font-family: Sofia Pro;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    text-decoration: underline;
    color: #2EC4B6;
}

.first h4{
    display: none;
}
@media only screen and (max-width: 375px) {
     *{
        margin: 0%;
        padding: 0;
     }
    main{
        width: 375px;
        height: 1294px;
        gap: 0px;
        opacity: 0px;
        background-color: rgb(225,255,255,1);
    }
    .first{
        width: 375px;
        margin-inline-start: 24px;
        margin-block-start: 74px;
        border-radius: 1px solid black;
    }
    
    .first img{
        width: 38.67px;
        height: 40px;
        position: relative;
        gap: 0px;
        opacity: 0px;
    }
    .first p{
        display: none;
    }

    .first h4{
        display: block;
        width: 327px;
        height: 50px;
        margin-block-start: 12px;
        left: 24px;
        gap: 0px;
        opacity: 80%;
        font-family: Brown;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        color: #737373;
    }

    .first h1{
        width: 372px;
        height: 30px;
        font-family: Brown;
        font-size: 30px;
        font-weight: 700;
        line-height: 29.4px;
        letter-spacing: -0.800000011920929px;
        text-align: left;
    }
    
    #hold{
        width: 295px;
        height: 48px;
        top: 24px;
        gap: 0px;
        opacity: 0px;

    }
    #h1{
        width: 295px;
        height: 48px;
        top: 24px;
        gap: 0px;
        opacity: 0px;
    }
    .second{
        width: 327px;
        height: 870px;
        margin-block-start: 300px;
        margin-inline-start: -380px;
        gap: 0px;
        border-radius: 6px;
        opacity: 0px;
        box-shadow: 0px 4px 50px 0px #0408131A;
    }
    .FST {
        display: block;
        margin-inline-start: 16px;
        margin-block-start: 24px;
    }
    .fn{
        margin-block-start: 24px;
    }
    .SCD{
        display: block;
        margin-inline-start: 16px;
        margin-block-start: 124px;
    }
    .THD{
        display: block;
        margin-inline-start: 16px;
        margin-block-start: 124px;
    }
    .FTH{
        display: block;
        margin-inline-start: 16px;
        margin-block-start: 124px;
    }
    .FIT{
        display: block;
        margin-inline-start: 16px;
        margin-block-start: 24px;
    }
    button{
        width: 295px;
        height: 48px;
        top: 1078px;
        margin-inline-start: 16px;
        gap: 0px;
        opacity: 0px;
    }
    h5{
        width: 316px;
        height: 50px;
        top: 1180px;
        text-align: center;
        margin-inline-start: 10px;
        gap: 0px;
        opacity: 0px;
        font-family: Sofia Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
    }

    
}